* {
    margin: 0;
    padding: 0;
}

.main {
    display: grid;
    min-height: 100vh;
    background-color: teal;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(179, 179, 12, 0.671);
    box-shadow: 12px 10px 4px 2px rgba(1, 31, 31, 0.273);
    justify-content: center;
}

.row{
    /* justify-content: space-evenly; */
    /* border: 1px solid teal; */
    /* height: 100px; */
    /* width: auto; */
    /* width: auto; */
    /* justify-content: space-around;
    align-items: center; */
    /* margin: 20px; */
}

.col {
    background-color: rgb(21, 114, 80);
    margin: 10px;
    padding: 0px;
}
.container :nth-child(1) div {
    width: 100px;
    height: 100px;
}
.container :nth-child(1) {
    align-items: center;
    width: auto;    
}
.container :nth-child(2) div {
    width: 60px;
    height: 60px;
}
.container :nth-child(3) div {
    width: 80px;
    height: 80px;
}
.container :nth-child(4) div {
    width: 40px;
    height: 40px;
}
.col {
    background-color: teal;
    justify-content: space-arround;
    align-items: center;
    justify-content:center;
}